.App .overlay-panel {
	background-color: rgb(255,255,255,0.8);
	left: 0;
	margin: 20px;
	padding: 10px;
	position: absolute;
	top: 0;
	z-index: 100;
}

.App .overlay-panel h2 {
	margin-bottom: 7px;
}


.App .overlay-panel .input-slider {
	margin-bottom: 15px;
}